table, th, td {
    border: 1px solid black;
  }

.nav {
    display: flex;
    flex-direction: row;
    background-color: #76E3DA;
    font-family: 'Bebas Neue', cursive;
    font-size: 120%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  }
  a:link {
    text-decoration: none;
    color:#155E58;

  }
  
  a:visited {
    text-decoration: none;
    color:#155E58;
  }
  
  a:hover {
    color:white;
  }
  
  a:active {
    color:white;
  }

  .nav .highlightCurrentPage {

color:white

  }



  body{
    font-size: 14pt;
}

#search{
    width: 80%; 
    margin: auto; 
    display: block; 
    text-align: center; 
    margin-top: 50px;
    
    
}

#searchin{
    float: left;
    width: 90%; 
    height: 30px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    border-radius: 5px;
    border-width: thin;
    border-color: #155E58;
}

#btngo{
    float: left;
    width: 10%; 
    height: 30px;
    background-color: #155E58;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.075)
}

#list{
     padding: 0;
     list-style-type: none;
     display: none; 
     position: absolute; 
     z-index: 9999; 
     width: 80%; 
     margin-top: 30px;
     max-height: 120px;
     overflow: hidden;
     overflow-y: scroll;
}

#list > li{
     text-align: left;
     padding: 5px;
     display: none;
}

#list > li:hover{
      background-color: #eee;
}
/*
.searchbar{
  margin-top:25px;
 margin-left:283px;
 width:100%;
}
.bar{
  border-radius:0;
  box-shadow: 2px 3px 0px -2px #ccc;
  padding:10px;
  border:0px;
  outline: none;
  border-top: 1px solid #ccc;
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
border-bottom: 1px solid #CCC;
}
.bar:hover{
  box-shadow: 3px 6px 7px -3px #ccc;
}
*/