/* Mobile Phone View formatting
Center aligns the Title of the page and the description. */
@media only screen and (max-width: 767px) {
  p.a, h1, .intro {
      margin-left: 0 !important;
      text-align: center;
  }
}



table, th, td {
    border: 1px solid black;
  }

.nav {
    display: flex;
    flex-direction: row;
    background-color: #76E3DA;
    font-family: 'Bebas Neue', cursive;
    font-size: 120%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  }
  a:link {
    text-decoration: none;
    color:#155E58;

  }
  
  a:visited {
    text-decoration: none;
    color:#155E58;
  }
  
  a:hover {
    color:white;
  }
  
  a:active {
    color:white;
  }

  .nav .highlightCurrentPage {

color:white

  }

.title{
  margin-left: 50px;

}

  body{
    font-size: 14pt;
}

#search{
    width: 80%; 
    margin: auto; 
    display: block; 
    text-align: center; 
    margin-top: 50px;
    
    
}

#searchin{
    float: left;
    width: 90%; 
    height: 30px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    border-radius: 5px;
    border-width: thin;
    border-color: #155E58;
}

#btngo{
    float: left;
    width: 10%; 
    height: 30px;
    background-color: #155E58;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.075)
}

#list{
     padding: 0;
     list-style-type: none;
     display: none; 
     position: absolute; 
     z-index: 9999; 
     width: 80%; 
     margin-top: 30px;
     max-height: 120px;
     overflow: hidden;
     overflow-y: scroll;
}

#list > li{
     text-align: left;
     padding: 5px;
     display: none;
}

#list > li:hover{
      background-color: #eee;
}



table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid black;
}


.mainPageImage{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;


}
.mainImage {
  height: auto;
  width: 30%;
 
}

h1 {
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  color:black;
}
/*
.searchbar{
  margin-top:25px;
 margin-left:283px;
 width:100%;
}
.bar{
  border-radius:0;
  box-shadow: 2px 3px 0px -2px #ccc;
  padding:10px;
  border:0px;
  outline: none;
  border-top: 1px solid #ccc;
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
border-bottom: 1px solid #CCC;
}
.bar:hover{
  box-shadow: 3px 6px 7px -3px #ccc;
}
*/




/* style for footer*/
.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
    float: right;
    max-width: 180px;
  }

.footer-right img {
    max-width: 35px;
    height: 35px;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media but not such we need this 

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}
 */