.title {

    margin-bottom: -5px;
    text-align: center;
}
.intro {
  margin-left: 50px;
  font: 16px Roboto, sans-serif;
  text-align: center;
}  


.wrapper p{
    display: block;
    margin-inline-start: 40px;
}


.main {    
    line-height: 1.5;
    max-width: 1000px;
    margin: auto;
}

.wrapper{
    padding: 5%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.name {
    display: flex;
    justify-content: center;
}

.team{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    padding: 5%;
}

.team img {
    vertical-align:middle;
    margin-top: 10px;
    border-radius: 50%;
    max-width: 200px;
    height: 200px;
    filter: grayscale(100%);
}

.v, .z, .p, .t, .h {
    margin: 10px;
    display: flex;
    list-style-type: none;
}
.team p {
    display: block;
    margin-inline-start: 40px;
}

ul{
    list-style-type: none;
}

.main {
  margin-bottom: 20px;
}