body{
    font-family: "Helvetica";
}
section{
    height: 70vp;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title{

    text-align: center;
}
p.a {
    margin-left: 50px;
    font: 16px Helvetica;
    text-align: center;
   
  }  
.container{
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 20px #00000010;
    background-color: #D0EEDF;
    border-radius: 8px;
    margin-bottom: 20px;
}
.form-group{
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
}
.form-group input,
.form-group textarea{
    width: 100%;
    padding: 4px;
    font-size: 16px;
    border: 1px solid rgba(128, 128, 128, 0.199);
    background-color: #ffffff; 
    margin-top: 5px;
}
textarea{
    resize: vertical;
}
.help{
    padding: 5%;
    margin-top: 1px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    background-color:#EFD9DC;
   
}
.main {    
    line-height: 1.5;
    max-width: 1000px;
    margin: auto;
}

.help p{
    display: block;
    margin-inline-start: 40px;
}

button[type="submit"]{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 8px;
    font-family: "Helvetica";
    color: rgb(0, 0, 0);
    background-color: #7ae0c7;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 3px;
    margin-bottom: 10px;
    transition: .3s ease background;
}
button[type="submit"]:hover{
    background-color: #155E58;
    color: white;
}
ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }


/*.help{
    padding-top: 50px;
    padding-right: 80px;
    padding-bottom: 50px;
    padding-left: 80px;
    font-size: 16px;
 
} 